.filterDirectiveTemplate
  margin-top: 10px
  .filterNameHeading
    background-color: rgb(233,30,99)
    padding: 10px
    border-radius: 5%
    color: white
    h5
      margin: 0
  .filterDirectiveRadioGroup
    height: 150px
    overflow-y: auto
    background-color: #eee
    .filterRadioButton
      font-size: 14px
      margin: 8px
      font-weight: 700
      text-transform: capitalize
      ._md-label
        margin-left: 5px
      ._md-container
        display: none

    .highlightClass
      color: red
