.storeBannerImage
  width: 100%
  background-size: cover
  height: 300px

.storePageStatsNav
  background-color: white
  margin: 5px 0
  .statsContent
    padding: 10px
    cursor: pointer
    .statsContentText
      margin: 2px 0
      
      span
        margin: 5px
  md-divider
    border-right-width: 3px
