.storeCardImage
  background-size: cover
  height: 100px
.storeCardFooter
  font-size: 12px
  font-weight: 800
  span
    margin: 2px
.storeNameHeading
  text-transform: capitalize
  font-weight: bold
  color: gray
  cursor: pointer
  span
    color: red
    font-size: 12px
    padding-left: 5px
