.userRatingSection {
  width: 175px; }
  .userRatingSection .rating {
    border: none; }
    .userRatingSection .rating input {
      display: none; }
    .userRatingSection .rating label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005"; }
    .userRatingSection .rating label {
      color: rgba(0, 0, 0, 0.5);
      float: right; }
    .userRatingSection .rating input:checked ~ label {
      color: #FFD700; }
    .userRatingSection .rating:not(:checked) > label:hover {
      color: #FFD700; }
      .userRatingSection .rating:not(:checked) > label:hover ~ label {
        color: #FFD700; }
    .userRatingSection .rating > input:checked + label:hover, .userRatingSection .rating > input:checked ~ label:hover {
      color: #FFED85; }
    .userRatingSection .rating > label:hover ~ input:checked ~ label, .userRatingSection .rating > input:checked ~ label:hover ~ label {
      color: #FFED85; }

.storeBannerImage {
  width: 100%;
  background-size: cover;
  height: 300px; }

.userImg {
  width: 50px;
  height: 50px;
  background-image: url("http://opstatic.com/img/profile/default_user.jpg");
  background-size: cover; }

.reviewListSection .singleReview {
  padding: 5px; }

.reviewListSection .userSection {
  font-size: 12px; }

.reviewListSection .userImg {
  width: 50px;
  height: 50px;
  background-image: url("http://opstatic.com/img/profile/default_user.jpg");
  background-size: cover; }

.reviewListSection .userStats ul {
  list-style: none;
  margin: 0;
  padding-left: 10px; }
  .reviewListSection .userStats ul .userName {
    font-size: 14px;
    font-weight: bold; }
  .reviewListSection .userStats ul .userFollowers {
    font-weight: bold; }

.reviewListSection .contentRatingSection {
  font-size: 11px;
  margin-top: 5px; }

.userRatingSection > input {
  display: none; }

.userRatingSection > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.userRatingSection > .half:before {
  content: "\f089";
  position: absolute; }

.userRatingSection > label {
  color: #ddd;
  float: right; }

.userRatingSection > input:checked ~ label {
  color: #FFD700; }

.userRatingSection:not(:checked) > label:hover {
  color: #FFD700; }
  .userRatingSection:not(:checked) > label:hover ~ label {
    color: #FFD700; }

.userRatingSection > input:checked + label:hover, .userRatingSection > input:checked ~ label:hover {
  color: #FFED85; }

.userRatingSection > label:hover ~ input:checked ~ label, .userRatingSection > input:checked ~ label:hover ~ label {
  color: #FFED85; }

/***** CSS Magic to Highlight Stars on Hover **** */
/* hover previous stars in list */
