@media (max-width: 599px) {
  body {
    height: auto; }
  .fixedTopHeader {
    position: fixed;
    z-index: 1000; }
  .scrollUpSearch {
    position: fixed;
    top: 55px;
    width: 100%;
    display: none; }
  .search-icon-div {
    padding: 10px; }
  .fixedHeaderMain {
    margin-top: 65px; }
  .homePageDiv > main {
    height: 100vh; }
  .homePageDiv .searchBoxLayout {
    height: 300px; }
  .homePageDiv .fixedTopHeader {
    position: relative; }
  .homePageDiv .search-box-container {
    margin: auto 5%;
    width: auto; }
  .homePageDiv .search-banner {
    height: 100vh;
    padding: 0; } }

.userRatingSection {
  width: 175px; }
  .userRatingSection .rating {
    border: none; }
    .userRatingSection .rating input {
      display: none; }
    .userRatingSection .rating label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005"; }
    .userRatingSection .rating label {
      color: rgba(0, 0, 0, 0.5);
      float: right; }
    .userRatingSection .rating input:checked ~ label {
      color: #FFD700; }
    .userRatingSection .rating:not(:checked) > label:hover {
      color: #FFD700; }
      .userRatingSection .rating:not(:checked) > label:hover ~ label {
        color: #FFD700; }
    .userRatingSection .rating > input:checked + label:hover, .userRatingSection .rating > input:checked ~ label:hover {
      color: #FFED85; }
    .userRatingSection .rating > label:hover ~ input:checked ~ label, .userRatingSection .rating > input:checked ~ label:hover ~ label {
      color: #FFED85; }

.storeBannerImage {
  width: 100%;
  background-size: cover;
  height: 300px; }

.storePageStatsNav {
  background-color: white;
  margin: 5px 0; }
  .storePageStatsNav .statsContent {
    padding: 10px;
    cursor: pointer; }
    .storePageStatsNav .statsContent .statsContentText {
      margin: 2px 0; }
      .storePageStatsNav .statsContent .statsContentText span {
        margin: 5px; }
  .storePageStatsNav md-divider {
    border-right-width: 3px; }

.storeAddressPartial {
  background-color: white;
  padding: 5px; }

.storeNameHeading {
  text-transform: capitalize;
  font-weight: bold;
  color: gray;
  cursor: pointer; }
  .storeNameHeading span {
    color: red;
    font-size: 12px;
    padding-left: 5px; }

.userImg {
  width: 50px;
  height: 50px;
  background-image: url("http://opstatic.com/img/profile/default_user.jpg");
  background-size: cover; }

.reviewListSection {
  background-color: white;
  padding: 5px; }
  .reviewListSection .singleReview {
    padding: 5px; }
  .reviewListSection .userSection {
    font-size: 12px; }
  .reviewListSection .userImg {
    width: 50px;
    height: 50px;
    background-image: url("http://opstatic.com/img/profile/default_user.jpg");
    background-size: cover; }
  .reviewListSection .userStats ul {
    list-style: none;
    margin: 0;
    padding-left: 10px; }
    .reviewListSection .userStats ul .userName {
      font-size: 14px;
      font-weight: bold; }
    .reviewListSection .userStats ul .userFollowers {
      font-weight: bold; }
  .reviewListSection .contentRatingSection {
    font-size: 11px;
    margin-top: 5px; }

.userRatingSection > input {
  display: none; }

.userRatingSection > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.userRatingSection > .half:before {
  content: "\f089";
  position: absolute; }

.userRatingSection > label {
  color: #ddd;
  float: right; }

.userRatingSection > input:checked ~ label {
  color: #FFD700; }

.userRatingSection:not(:checked) > label:hover {
  color: #FFD700; }
  .userRatingSection:not(:checked) > label:hover ~ label {
    color: #FFD700; }

.userRatingSection > input:checked + label:hover, .userRatingSection > input:checked ~ label:hover {
  color: #FFED85; }

.userRatingSection > label:hover ~ input:checked ~ label, .userRatingSection > input:checked ~ label:hover ~ label {
  color: #FFED85; }

/***** CSS Magic to Highlight Stars on Hover **** */
/* hover previous stars in list */
