<div class="storeAddressPartial" >
  <h1>Address</h1>


  <div class="addressContentSection" layout="column" layout-gt-md="row">
    <div class="addressContentText">
      <div class="" ng-repeat="(key, value) in ssc.storeData.address" ng-if="key!='_id'">
        <span>{{key}}</span>-<span>{{value}}</span>

      </div>

    </div>
    <div class="addressContentMap">
      <div class="">
        <map style="" scrollwheel="false" center="ssc.getAddressString()">
           <marker position="ssc.getAddressString()" title="{{ssc.storeData.name}}"></marker>
        </map>
      </div>
    </div>
  </div>

</div>
