<div class="" ng-controller="ReviewSubmitController as rsv">
  <form class="" name="reviewSubmitForm">
    <md-content layout="row">
      <div class="userProfileReviewImg" flex="5" flex-xs="10" flex-sm="10">
        <img ng-src="{{rsv.user.picture}}" class="md-avatar" alt="{{rsv.user.displayName}}">
      </div>
      <div class="" layout="column" flex="grow" flex="70" flex-xs="60" flex-sm="60" flex-offset="5">
        <div class="">
          <span >{{rsv.user.displayName}}</span>
        </div>
        <md-input-container class="md-block" >
          <label>My Review</label>
          <textarea ng-model="rsv.review.description" name="review" required="true"></textarea>
        </md-input-container>
      </div>
      <div class="" flex="10" flex="nogrow">
        <md-button ng-click="rsv.submitReview()" class="md-raised md-primary" >Submit</md-button>
      </div>

    </md-content>

  </form>
</div>
