div(ng-if="!jobs.unAuth")
	span(ng-bind="jobs.user")
	span(ng-bind="jobs.user.displayName")
	img(ng-src="{{jobs.user.picture}}")


div(ng-if="!jobs.unAuth")
	ul
		li(ng-repeat="job in jobs.jobsList")
			span(ng-bind="job")

div(ng-show="jobs.unAuth")
	span(ng-bind="jobs.message")
	span Hello

