
<div ng-controller='AuthController as ahc'>
  <div ng-if="ahc.isAuth" >
    <md-button class="md-raised" aria-label="Logout" ng-click="ahc.authLogout()">Logout
    </md-button>
  </div>

  <div ng-if="!ahc.isAuth"  layout-xs="column" layout-align-xs="space-between center">
    <md-button class="md-raised" aria-label="login" ng-click="ahc.loginPage()">
      Login
    </md-button>
    <md-button class="md-raised" aria-label="Login with facebook" ng-click="ahc.authenticate('facebook')">
      facebook
    </md-button>
  </div>
</div>
