<div ng-controller="HeaderController as phc">
	<md-toolbar md-scroll-shrink>
         <div class="md-toolbar-tools">
            <div style="height:100%"  ng-click="phc.toHomePage()">
               <img style="height:100%" src="images/bag-icon.jpg">
            </div>
            <span class="md-headline" style="" ng-click="phc.toHomePage()">
            shoppins
            </span>
            <span flex></span>
            <md-button class="md-raised" aria-label="Learn More">
               Login
            </md-button>
            <md-button class="md-raised" aria-label="Learn More">
               SignUp
            </md-button>
         </div>
      </md-toolbar>
</div>