<div ng-controller="HeaderController as phc">
	<md-toolbar md-scroll-shrink>
         <div class="md-toolbar-tools">
            <div style="height:100%"  ng-click="phc.toHomePage()">
               <img style="height:100%" src="images/bag-icon.jpg">
            </div>
            <span class="md-headline" style="" ng-click="phc.toHomePage()">
            shoppins
            </span>
            <div ng-if="phc.isAuth">
               <md-button class="md-raised" aria-label="Logout" ng-click="phc.authLogout()">
                  Logout
               </md-button>
            </div>
            <div ng-if="!phc.isAuth">
               <md-button class="md-raised" aria-label="Login">
                  Login
               </md-button>
               <md-button class="md-raised" aria-label="Signup" ng-click="phc.authenticate('facebook')">
                  Login with facebook
               </md-button>   
            </div>
            
         </div>
      </md-toolbar>
</div>