<header layout="row"  >
      <div ng-include="'app/home/pageHeader.html'" flex></div>
</header>
<div ng-include="'app/home/searchBox.html'"></div>
<main flex class="fixedHeaderMain">
  <div class="" layout="row" layout-xs="column" layout-sm="column">
    <div class="storeLeftPane" flex-sm="100" flex-xs="100" flex="70" >
      <h1>{{ssc.storeData.name}}</h1>
      <div class="storeBannerImage" style='background-image:url("{{ssc.storeData.bannerImage}}")'>

      </div>
      <div class="userInteractionNav" layout="row" ng-if="ssc.authCheck">
        <div class="" ng-controller="UserStoreVisitController as usv">
          <div class="userStoreVisitCheck">
            <input type="checkbox" name="userVisit"  ng-change="usv.toggleVisitCheck()" ng-model="usv.visitCheck" >Visited
          </div>
        </div>
      </div>
      <div class="storePageStatsNav" layout="row" >
        <div class="statsContent"  >
            <h4 class="statsContentText"><span><i class="fa fa-building" aria-hidden="true"></i></span>Address</h4>
        </div>
        <md-divider></md-divider>
        <div class="statsContent" ng-click="ssc.flowToId('flowProducts')">
            <h4 class="statsContentText"><span><i class="fa fa-suitcase" aria-hidden="true"></i></span>Products-({{ssc.storeData.products.length}})</h4>
        </div>
        <md-divider></md-divider>
        <div class="statsContent" ng-click="ssc.flowToId('flowReviews')">
            <h4 class="statsContentText"><span><i class="fa fa-pencil-square" aria-hidden="true"></i></span>Reviews-({{ssc.storeData.reviews.length}})</h4>
        </div>

        <md-divider></md-divider>
        <div class="statsContent">
            <h4 class="statsContentText"><span><i class="fa fa-motorcycle" aria-hidden="true"></i></span>Visits-({{ssc.storeData.visits.length}})</h4>
        </div>

        <md-divider></md-divider>

      </div>
      <div  id="flowAddress" class="" ng-include="'app/store/views/storeAddressDetails.html'">

      </div>
      <div   class="" ng-include="'app/reviews/views/storeReviewList.html'">

      </div>
      <div class="" ng-include="'app/reviews/views/storeReviewSubmit.html'" ng-if="ssc.authCheck">

      </div>
    </div>
    <div class="storeRightPane" flex="30" flex-sm="100" flex-xs="100">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

</main>
<!--
<div id="flowProducts">Products list yo</div>

<div>Reviews list yo</div>-->
