<header layout="row"  >
	<div ng-include="'app/home/pageHeader.html'" flex></div>
</header>
<div ng-include="'app/home/searchBox.html'"></div>
<div layout="row" layout-wrap>
	<div flex="20">[flex=20]</div>
	<div flex="59">
		<div ng-repeat="store in slc.storesList">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">
							<span ng-click="slc.getSingleStore(store)">{{store.name}}</span>
						</span>
						<span class="md-subhead">
							<span>{{store.address.locality}}</span>
							<span>{{store.address.area}}</span>
							<span>{{store.address.city}}</span>
							<span>{{store.address.state}}</span>
						</span>
						<span class="md-subhead">
							<span>{{store.upvotes[0]}} Upvotes</span>
							<span>{{store.visits[0]}} Visits</span>

						</span>
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-md card-media">
							<img ng-src="{{store.images[0]}}">
						</div>
					</md-card-title-media>
				</md-card-title>
				<span layout="row" layout-align="end center">
					<!--Add flow to query parameter-->
					<span>{{store.reviews[0]}} Reviews </span>
					<span> {{store.products[0]}} Products</span>
				</span>
			</md-card>
		</div>
	</div>
	<div flex="20">[flex=20]</div>
</div>

